* {
    margin: 0;
    padding: 0;
    background-color: bisque;
}
body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
h1 {
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}
#container h1 {
    font-size: 20px;
}